#TIME	NODE(S)	DEVICE	MODE	ELEMENT	HANDLER		VALUE
1	node1 	ath0	write	sf	reset		true
1	node2 	ath0	write	sf	reset		true
1	node1 	ath0	write	sf	add_flow	node1:eth node2:eth 1000 100 0 100 true
11	node1 	ath0	write	sf	add_flow	node1:eth node2:eth 1000 100 0 100 false
11	node1	ath0	read	sf	stats
11	node2	ath0	read	sf	stats
