#NODE		DEVICE	MODULSDIR						MODOPTIONS WIFICONFIG		CLICKMODDIR	CLICKSCRIPT	CLICKLOGFILE			APPLICATION	APPLICATIONLOGFILE
wndr215		PARAMS_DEVICE	BASEDIR/nodes/lib/modules/NODEARCH/KERNELVERSION	-          monitor.cfg		-               sender.click  LOGDIR/NODENAME.NODEDEVICE.log  -               -
wndr213		PARAMS_DEVICE	BASEDIR/nodes/lib/modules/NODEARCH/KERNELVERSION	-          monitor.cfg		-               receiver.click  LOGDIR/NODENAME.NODEDEVICE.log  -               -
